.form {
  padding: 5%;
}

.button {
  padding: 5px;
  margin: 10px;
}

.heading {
  text-align: center;
  margin: 40px 0 0 0;
  padding: 10px 5px 5px 5px;
  color: #b0c4de;
  letter-spacing: 0.2rem;
}
